
@font-face {
  font-family: 'Nunito Sans';
  src: url('/assets/fonts/NunitoSans-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('/assets/fonts/NunitoSans-Italic-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: italic;
}

:root {
  --primary-background: 31 31 31; /* #1f1f1f; */
  --secondary-background: 60 60 60;
  --tertiary-background: 90 90 90;

  --primary-accent: 63 124 194; /* #3f7cc2;  */
  --secondary-accent: 94 164 246; /* #4a90e2;  */

  --text-primary: #f5f5f5;
  --text-secondary: #a9a9a9;
  --text-tertiary: #696969;

  --error: 231 76 60; /* #e74c3c; */
  --success: 46 204 113; /* #2ecc71; */
}

body {
  font-family: 'Nunito Sans', sans-serif;
  color: var(--text-primary);
  background-color: rgb(var(--primary-background));
  font-size: 16px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 20px;
}

textarea,
input {
  background-color: rgb(var(--secondary-background));
}

a {
  color: rgb(var(--primary-accent));
  text-decoration: none;
}

a:hover {
  text-decoration-line: underline;
}

.underline-secondary {
  text-decoration: underline;
  text-decoration-color: rgb(var(--secondary-accent));
}

.loader {
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes notificationAnimate {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  10%,
  90% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.notification-animate {
  animation: notificationAnimate 3s ease-in-out;
}
